<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/mapbox.css" />
<div class="mb-4" id="cluster-map"></div>
<h1>All Campgrounds</h1>
<div class="mt-4 mb-2">
  <a class="btn btn-outline-success btn-sm" href="/campgrounds/new"
    >Add Campground</a
  >
</div>
<% for (let camp of campgrounds) { %>
<div
  class="card mb-3 lozad"
  style="
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16),
      0px 3px 6px 0px rgba(0, 0, 0, 0.23);
  "
>
  <civ class="row">
    <div class="col-md-4">
      <% if(camp.images.length) { %>
      <img
        crossorigin="anonymous"
        class="img-fluid h-100 w-100"
        src="<%= camp.images[0].url %>"
        alt=""
      />
      <% } else {%>
      <img
        class="img fluid h-100"
        crossorigin="anonymous"
        src="https://res.cloudinary.com/de58ttsxq/image/upload/v1696209054/YelpCamp/o74svx6ckup7rynydbag.jpg"
        alt=""
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= camp.title %></h5>
        <p class="card-text"><%= camp.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= camp.location %></small>
        </p>
        <a href="campgrounds/<%= camp._id %>" class="btn btn-primary"
          >View <%= camp.title %></a
        >
      </div>
    </div>
  </civ>
</div>
<% } %>
<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
  const campgrounds = {features: <%-JSON.stringify(campgrounds)%>}
</script>

<script src="/scripts/clusterMap.js"></script>
<script src="/scripts/lazyload.js"></script>
